{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="//usablica.github.io/progress.js/progressjs.css"
        type="text/css" media="all" />
    <script src="//usablica.github.io/progress.js/progress.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.js"></script>
    <script src="static/js/interactive.js"></script>
{% endblock %}
{% block content %}
    <p>
        <textarea id="code"
            class="form-control code" name="code">{{ program }}</textarea>
    </p>
    <div id="btn-row">
        <button id="analyze" class="btn btn-primary btn-width"
                onclick="run(this.id)">
            Analyze
        </button>
        <button id="optimize" class="btn btn-primary btn-width"
                onclick="run(this.id)">
            Optimize
        </button>
        <div id="menu" class="btn-group select select-block">
            <button class="btn dropdown-toggle clearfix"
                    data-toggle="dropdown">
                <span class="filter-option pull-left">
                    Choose Example
                </span>
                &nbsp;
                <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
            <ul class="dropdown-menu dropdown-inverse" role="menu" >
                <li rel="0" class="">
                    <a tabindex="-1" href="#" class="active">
                        <span class="pull-left">1</span>
                    </a>
                </li>
                <li rel="1" class="">
                    <a tabindex="-1" href="#" class="active">
                        <span class="pull-left">2</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <button id="danger" class="btn btn-danger" onclick="danger()">
                Clear
            </button>
        </div>
    </div>
    <div id="div-message" style="display:none;">
        Results:
        <textarea id="ta-message" class="form-control code" disabled>
        </textarea>
    </div>
{% endblock %}
